<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="3" verbose="2" name="TestNG Forum" parallel="classes">

    <test name="TestNG Test">
        <classes>
            <class name="testng.apps.wordpress.WordpressTest"/>
            <class name="testng.apps.wordpress.WordpressTest2"/>
            <class name="testng.apps.wordpress.WordpressTest3"/>
            <class name="testng.apps.wordpress.WordpressTest4"/>
        </classes>
    </test> <!-- TestNG Test -->
</suite> <!-- TestNG Forum -->
